DATABRICKS_HOST=https://adb-XXXXXXXXXXXXXXX.X.azuredatabricks.net
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/XXXXXXXXXXXXXXXX
DATABRICKS_TOKEN=dapi...
DATABRICKS_CATALOG=hive_metastore
DATABRICKS_SCHEMA=default
PORT=8000
NODE_ENV=development
STATIC_DIR=../frontend/dist/frontend/browser
BULK_SYNC_THRESHOLD=500
DATABRICKS_JOB_ID_BULK_UPDATE=12345
